<!-- Inline script for convinience -->
<style type="text/css" media="screen">
  body {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }

  .project-container {
    width: 100%;
    height: 100%;
  }

  #dat-gui-container {
    position: absolute;
    top: 65px;
    right: 15px;
    z-index: 10;
  }

  canvas {
    width: 100%;
    height: 100%;
    cursor: all-scroll;
  }
</style>

<!-- Three.js canvas -->
<div class="project-container" id="threejs-canvas"></div>
