/***************************************************************
* HOMEPAGE CARDS
****************************************************************/
body {
  margin: 0;
  font-family: "Palanquin", sans-serif;
  background: url('../img/symphony.png');
  color: #666666;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #A1E8AD;
}

.container {
  width: 92%;
  margin: 60px auto;
  text-align: center;
}

.container-header {
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 40px auto;
  font-size: 24px;
}

.card {
  display: inline-block;
  position: relative;
  vertical-align: top;
  letter-spacing: 1px;
  width: 360px;
  height: 400px;
  background: #ffffff;
  box-shadow: 0 0 10px #acacac;
  margin: 20px;
}

.card-title,
.card-footer {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0 18px 0;
  font-size: 15px;
  width: 100%;
}

.card-title {
  background: #333;
  font-size: 15px;
  transition: linear 0.5s;
}

.card-title:hover {
  background: #020202;
}

.card-footer {
  border-top: 1px solid #cccccc;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card-footer a {
  color: #333333;
}

.card-footer a:hover {
  color: #E75C5C;
}

.card-body {
  padding: 20px;
  text-align: left;
  font-size: 16px;
}

.card-body-text {
  line-height: 25px;
}


/***************************************************************
* PROJECT DESCRIPTION
****************************************************************/
.project-text {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  top: 35px;
  left: 25px;
  width: 440px;
  opacity: 0.5;
  transition: ease-out 0.5s;
}

.project-text:hover {
  opacity: 1;
}

.project-text-container {
  padding: 10px 20px;
  color: #fff;
  font-size: 14.5px;
  letter-spacing: 1px;
  line-height: 22px;
}


/***************************************************************
* PROJECT CANVAS
****************************************************************/
.project-container {
  width: 100%;
  height: 100%;
}

#dat-gui-container {
  position: absolute;
  top: 50px;
  right: 25px;
  z-index: 10;
}

canvas {
  width: 100%;
  height: 100%;
  cursor: all-scroll;
}
