body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: lighter;
  background-color: #f1f1f1;
  color: #6c6c6c;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

a:hover {
  color: #E75C5C;
}

.container {
  width: 1280px;
  margin: 20px auto;
  text-align: center;
}

.container-header {
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 40px auto;
  font-size: 24px;
}

footer {
  margin: 40px auto;
  text-align: center;
}

.card {
  display: inline-block;
  position: relative;
  vertical-align: top;
  letter-spacing: 1px;
  width: 380px;
  height: 350px;
  background: #ffffff;
  box-shadow: 0px 0px 10px #acacac;
  margin: 20px;
}

.card-title, .card-footer {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0 18px 0;
  font-size: 15px;
  width: 100%;
}

.card-title {
  background: #333333;
  font-size: 15px;
}

.card-footer {
  border-top: 1px solid #cccccc;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card-title a {
  color: #ffffff;
}

.card-title a:hover {
  color: #99CCFF;
}

.card-footer a {
  color: #333333;
}

.card-footer a:hover {
  color: #E75C5C;
}

.card-body {
  padding: 20px;
  text-align: left;
  font-size: 16px;
}

.card-body-text {
  line-height: 25px;
}
